body {
    background: url("../images/main-bg.jpg") repeat-x fixed center top transparent;
    color: #474747;
    font: 100%/1.125em Georgia, "Times New Roman", Times, serif;
    position: relative;
}

html, body, div, span, object, iframe, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#main {
    font-size: 0.813em;
    min-width: 960px;
}

header {
    background: url("../images/tail-top.png") repeat-x scroll center top transparent;
}

article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    display: block;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

header .container_2 {
    height: 196px;
    position: relative;
    z-index: 2;
}

.home header .grid_2 {
    border: 0 none;
}

.container_2 .grid_2 {
    width: 950px;
}

.container_2 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

header .grid_2 {
    border-bottom: 3px solid #1C1C1C;
    height: 193px;

    display: inline;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}

.contentWrapper {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
}

.logo {
    left: 0;
    position: absolute;
    top: 99px;
}

.logo a.logo-link {
    float: left;
}

a {
    border: 0 none;
    color: #89181E;
    text-decoration: underline;
}

a img {
    border: 0 none;
}

img {
    display: inline-block;
    vertical-align: text-bottom;
}

table.loginTable {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.loginTable td {
    padding: 5px;
}

.loginTable label {
    width: 150px;
    text-align: right;
}

ul.nav {
    max-width: 960px;
}

ul.nav {
    line-height: 1;
}

ul.nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0 0 1.5em 1.5em;
    padding: 0;
}

ul {
    list-style: disc outside none;
}

ul.nav > li {
    font-size: 12px;
}

ul.nav li {
    float: left;
    position: relative;
}

ul.nav > li > a {
    height: 67px;
    line-height: 67px;
    padding: 0 25px;
}

ul.nav a, ul.nav a:visited {
    color: #DAD8D9;
}

ul.nav a {
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    text-transform: uppercase;
}

ul.nav a {
    display: block;
    position: relative;
}

.denied {
    color: #FF0000;
}

.adminmenu {
    margin-top: 30px;
}

.adminmenu a {
    padding: 20px 0;
}

.tableWrapper {
    background: none repeat scroll 0 0 #DCDCDC;
    border: 1px solid #FFFFFF;
    border-radius: 14px 14px 14px 14px;
    margin: 30px auto 2em;
    overflow: hidden;
    padding: 20px;
    display: inline-block;
}

.tableWrapper tbody tr {
    cursor: pointer;
}

.tableWrapper tbody tr td div:hover {
    background-color: #000;
    color: #FFF;
    border-radius: 5px 5px 5px 5px;
}

.tableWrapper tbody td div, .tableWrapper thead th {
    padding: 5px;
}